
#root {min-height: 500px;}
.navbar {
  width: 100% !important;
  min-width: 100% !important;
}

@media only screen and (max-device-width: 400px) {
  .story-box {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

@media all {
  .navbar {
    width: 100% !important;
    min-width: 100% !important;
  }
  html, body {
    min-width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}

.story-box {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 5px;
  float: left;
  margin: 15px;
  width: 350px;
  max-width: 350px;
  min-width: 350px;
  height: 23vh;
  max-height: 23vh;
  min-height: 23vh;
}

.story-page {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.post-page-file {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  margin-top: 10px;
}

.story-page ul {
  list-style-type: none;
}
.story-page li {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  text-align: left !important;
  padding: 2px;
}
.story-page li span {
  color: rgb(107, 107, 107);
  font-size: 11px;
}

.story-box:hover {
  border: 1px solid #a222a2;
  box-shadow: 0 0 5px #bdbdbd;
}

.story-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  cursor: pointer;

  height: 8vh !important;
  min-height: 8vh !important;
  max-height: 8vh !important;
}

.tags {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
}

.comment-box {
  margin: 4px;
  padding: 2px;
  border-bottom: 1px solid #cecece;
}

.h5 {
  margin-left: 15px;
}

.top {
  border: 1px solid purple;
}


.top-posts {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.file-side {
  width: 33%;
}
.body-side {
  width: 66%;
}

@media only screen and (max-width: 600px) {
.div-login { width: 100% !important; }
.div-signup { width: 100% !important; }
}

.badge {
font-weight: 400;
}
.badge-light {
/*color: #C22828;*/
  background-color: #e9e9e9;
}
.btn-light {
  /*color: #C22828;*/
  background-color: #e9e9e9;
}
.badge-like {
  color: purple;
  cursor: pointer;
}
.post-file {
  /*max-width: 100%;*/
  /*height: auto;*/
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  width: 75px;
  height: 45px;
  cursor: pointer;
}
.post-file-big {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
}
.app-modal-content {
   border: none;
   border-radius: 0px;
   width: 100%;
   height: 100%;
 }
.active .nav-link {
  color: purple !important;
}
.mt-30 {
  margin-top: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.profile-image {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
  border: 1px solid #eee;
}
.fc-file {
  border: none;
}
.tbl-profile tr {
  border-bottom: 1px solid #eee;
  margin: 5px 10px;
}
.chat .users {
  border: 1px solid #ccc;
}

.chat .right-side {
  border: 1px solid #ccc;
}

.chat-list {
  height: 80vh;
  min-height: 80vh;
  max-height: 80vh;
  background-color: white;
  width: 100%;
}

.message-list {
  height: 64vh;
  min-height: 64vh;
  max-height: 64vh;
  border-left: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
}

.navBarText {
  margin-left: 10px !important;
  font-size: 17px;
  margin-top: 13px;
}

.message {
  margin-top: 10px;
}

.rce-mbox-text {
  padding: 3px;
}

.rce-mbox {
  background-color: antiquewhite !important;
}

.rce-mbox-right-notch {
  fill: aliceblue !important;
}

.rce-mbox-left-notch {
  fill: antiquewhite !important;
}

.rce-mbox-right {
  background-color: aliceblue !important;
}

.rce-mlist {
  margin-bottom: 10px;
}

.no-chat-selected {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.txt-new-message {
  border-radius: 0px;
}

.txt-new-message:focus {
  box-shadow: none;
}

.txt-filter-conversations {
  border-radius: 0px;
}

.txt-filter-conversations:focus {
  box-shadow: none;
}

.btn-send {
  border-radius: 0px;
}
.red {color: #f36161;}
